<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="appointmentsPanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Appointments Management</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-appointment-list></app-appointment-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <app-appointment-add></app-appointment-add>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
